.exam-container {
    width: 800px;
    margin: 30px auto;

    .component-item {
        margin: 20px;

        line-height: 40px;
        font-size: 20px;
    }
    .btn {
        width: 300px;
    }
}